
.DS_Store

.metadata/.log

.metadata/.plugins/org.eclipse.core.resources/.history/8/30595818f272001f177de355ea8ccc8b

.metadata/.plugins/org.eclipse.tm.terminal.view.ui/.executables/data.properties

.metadata/.plugins/org.eclipse.core.resources/.history/2b/

.metadata/.plugins/org.eclipse.core.resources/.history/43/

.metadata/.plugins/org.eclipse.core.resources/.history/69/

.metadata/.plugins/org.eclipse.core.resources/.history/6f/901e13aef472001f177de355ea8ccc8b

.metadata/.plugins/org.eclipse.core.resources/.history/8b/

.metadata/.plugins/org.eclipse.core.resources/.history/ae/

.metadata/.plugins/org.eclipse.core.resources/.history/d9/

.metadata/.plugins/org.eclipse.core.resources/

.metadata/.plugins/org.eclipse.core.runtime/.settings/

.metadata/.plugins/org.eclipse.e4.workbench/

*.png

*.log

.metadata/
